@import '/src/styles/variables.scss';

.like {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition;
  color: map-get($colors, 'text-secondary');
  position: relative;

  &:hover {
    background: rgba(white, 0.1);
  }

  &:active {
    background: rgba(white, 0.5);
  }

  &.liked {
    color: map-get($colors, 'red');
  }
}

.like-loader {
  color: map-get($colors, 'text-main');
}

.icon {
  line-height: 1;
}

.likes-counter {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 16px;
  font-weight: 600;
  min-width: 16px;
  height: 16px;
  background: map-get($colors, 'background-secondary');
  box-shadow: 0 2px 8px -2px rgba(black, .5);
}
