<div class="page video-page">
  <ng-container *ngIf="showVideo$ | async">
    <div class="player mb-xl">
      <app-player
        [video]="(video$ | async)!"
      ></app-player>
    </div>
    <div class="container container-fluid mb-xl">
      <app-video-details
        [video]="(video$ | async)!"
      ></app-video-details>
    </div>
  </ng-container>
  <div
    *ngIf="userIsAuthor$ | async"
    class="container container-fluid mb-xl"
  >
    <div class="actions">
      <a
        [routerLink]="['/', 'video', videoId, 'edit']"
        class="button button-secondary mr-md action-trigger"
      >
        <span class="material-icons button-symbol">
          edit
        </span>
        {{ 'view_video.edit' | translateAsync }}
      </a>
      <button
        type="button"
        class="button button-secondary action-trigger"
        (click)="deleteHandler()"
      >
        <span class="material-icons button-symbol">
          delete_forever
        </span>
        {{ 'view_video.delete' | translateAsync }}
      </button>
    </div>
  </div>
  <div *ngIf="showCommentsForm" class="container container-narrow mb-xl">
    <app-form-comment
      [submitStatus]="commentFormSubmitStatus$ | async"
      [submitError]="commentFormSubmitError$ | async"
      (formSubmit)="createCommentSubmitHandler($event)"
    ></app-form-comment>
  </div>
  <div *ngIf="showComments$ | async" class="container container-narrow">
    <app-comment-list
      [comments]="(comments$ | async)!"
      [pagination]="(commentsPagination$ | async)!"
      [processing]="(commentsProcessing$ | async)!"
      (getPrevPage)="getCommentsPrevPageHandler()"
      (getNextPage)="getCommentsNextPageHandler()"
    ></app-comment-list>
  </div>
</div>
