@import '/src/styles/variables.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: map-get($colors, 'text-primary');
}

.icon {
  @media (min-width: map-get($breakpoints, 'md')) {
    margin-right: 16px;
  }
}

.name {
  display: none;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: inline;
  }
}
