@import '../variables.scss';

.button {
  position: relative;
  display: block;
  padding: 12px 24px;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  min-width: 200px;
  color: map-get($colors, 'text-main');
  cursor: pointer;
  transition: $transition;
  font-weight: 500;
  letter-spacing: 2px;
  background: map-get($colors, 'button-default');
  overflow: hidden;

  &:hover {
    background: lighten(map-get($colors, 'button-default'), 5);
  }

  &:active {
    background: lighten(map-get($colors, 'button-default'), 15);
  }

  &-primary {
    background: map-get($colors, 'button-primary');

    &:hover {
      background: lighten(map-get($colors, 'button-primary'), 5);
    }

    &:active {
      background: lighten(map-get($colors, 'button-primary'), 15);
    }
  }

  &-transparent {
    background: rgba(black, 0);

    &:hover {
      background: rgba(black, .1);
    }

    &:active {
      background: rgba(black, .15);
    }
  }

  &-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    min-width: 0;
  }
}

.button-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(map-get($colors, 'button-default'), .5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: progress;

  &-icon {
    animation-name: button-loader;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

@keyframes button-loader {
  50% {
    transform: rotate(180deg);
  }

  70% {
    transform: rotate(180deg);
  }

  70.1% {
    transform: rotate(0);
  }
}

.text-button {
  color: map-get($colors, 'text-secondary');
  display: block;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  font-size: 14px;
  cursor: pointer;
  transition: $transition;
  text-align: center;
  width: 100%;

  &:hover {
    color: darken(map-get($colors, 'text-secondary'), 40);
  }

  &:active {
    color: lighten(map-get($colors, 'text-secondary'), 10);
  }
}
