@import '../variables.scss';

.input-default,
.textarea-default {
  display: block;
  width: 100%;
  border-radius: 24px;
  border: 1px solid map-get($colors, 'border-primary');
  font-size: 16px;
  color: map-get($colors, 'text-secondary');
  transition: $transition;
  line-height: 1;

  &:focus {
    outline: none;
    border-color: darken(map-get($colors, 'border-primary'), 50);
  }

  &.ng-touched {
    &.ng-invalid {
      border-color: map-get($colors, 'border-error');
    }
  }
}

.input-default {
  padding: 8px 24px;

  &-with-suffix {
    padding-right: 60px;
  }
}

.input-default-wrap {
  position: relative;
}

.input-default-action {
  position: absolute;
  top: 3px;

  &-prefix {
    left: 3px;
  }

  &-suffix {
    right: 3px;
  }
}

.textarea-default {
  padding: 24px;
  min-height: 160px;
  resize: vertical;
}

.selection-default {
  padding: 0;
  margin: 0;
  list-style: none;

  &-item {
    margin-bottom: 8px;
  }

  &-control {
    display: none;

    &:checked {
      + .selection-default {
        &-label {
          &:before {
            background: map-get($colors, 'text-main');
          }
        }
      }
    }
  }

  &-label {
    display: flex;
    align-items: center;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;
    background: map-get($colors, 'background-tertiary');
    color: map-get($colors, 'text-main');
    border-radius: 8px;

    &:hover {
      background: lighten(map-get($colors, 'background-tertiary'), 25);
      color: lighten(map-get($colors, 'text-main'), 25);
    }

    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: white;
      box-shadow: 0 0 0 2px map-get($colors, 'border-primary');
      border: 3px solid white;
      margin-right: 16px;
      margin-left: 2px;
    }
  }
}
