<div class="logo-wrap">
  <a class="logo" routerLink="/">
    <app-logo></app-logo>
  </a>
</div>
<div class="container container-fluid header-main-container">
  <div class="row">
    <div class="mr-auto search">
      <app-form-search
        [query]="searchQuery$ | async"
        (formSubmit)="searchHandler($event)"
      ></app-form-search>
    </div>
    <a
      *ngIf="allowVideoCreate$ | async"
      [routerLink]="['/', 'video', 'create']"
      class="button button-transparent button-transparent-primary mr-md upload-video-button"
    >
      <span class="material-icons button-symbol">
        video_call
      </span>
      Upload video
    </a>
    <button
      *ngIf="isGuest$ | async"
      type="button"
      class="button button-icon button-primary auth-button"
      (click)="openAuthModal()"
    >
      <span class="material-icons">
        login
      </span>
    </button>
    <a
      *ngIf="isAuthorized$ | async"
      [routerLink]="['/', 'profile']"
      class="button button-icon button-primary auth-button"
    >
      <span class="material-icons">
        person
      </span>
    </a>
  </div>
</div>
