@import '/src/styles/variables.scss';

:host {
  background-color: map-get($colors, 'background-secondary');
  color: map-get($colors, 'text-primary');
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: map-get($breakpoints, 'md')) {
    padding-left: 0;
    padding-right: 0;
  }
}

.header-main-container {
  flex: 1 1 0;

  @media (min-width: map-get($breakpoints, 'md')) {
    padding: 0 $container-padding;
  }
}

.logo-wrap {
  flex: 0 0 auto;

  @media (min-width: map-get($breakpoints, 'md')) {
    width: 300px;
  }
}

.row {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.logo {
  padding: 20px 0;
  font-weight: bold;
  text-decoration: none;
}

.search {
  display: none;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: block;
    max-width: 500px;
    flex: 1 1 auto;
  }
}

.upload-video-button,
.auth-button {
  display: none;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: flex;
  }
}

.mobile-menu {
  margin-left: auto;

  @media (min-width: map-get($breakpoints, 'md')) {
    display: none;
  }
}
