<div class="container">
  <div class="row">
    <a class="logo" routerLink="/">
      VIDEO
    </a>
    <div class="mx-auto search">
      <app-form-search
        [query]="searchQuery$ | async"
        (formSubmit)="searchHandler($event)"
      ></app-form-search>
    </div>
    <a
      [routerLink]="['/', 'playlists']"
      class="button button-icon mr-md"
    >
      <span class="material-icons">
        subscriptions
      </span>
    </a>
    <a
      *ngIf="allowVideoCreate$ | async"
      [routerLink]="['/', 'video', 'create']"
      class="button button-icon mr-md"
    >
      <span class="material-icons">
        video_call
      </span>
    </a>
    <button
      *ngIf="isGuest$ | async"
      type="button"
      class="button button-icon"
      (click)="openAuthModal()"
    >
      <span class="material-icons">
        login
      </span>
    </button>
    <a
      *ngIf="isAuthorized$ | async"
      [routerLink]="['/', 'profile']"
      class="button button-icon mr-md"
    >
      <span class="material-icons">
        person
      </span>
    </a>
  </div>
</div>
