<div class="container">
  <div class="row">
    <a class="logo mr-auto" routerLink="/">
      VIDEO
    </a>
    <a
      *ngIf="allowVideoCreate"
      [routerLink]="['video', 'create']"
      class="button button-icon mr-md"
    >
      <span class="material-icons">
        video_call
      </span>
    </a>
    <button
      type="button"
      class="button button-icon"
      (click)="openAuthModal()"
    >
      <span class="material-icons">
        login
      </span>
    </button>
  </div>
</div>
