@import '../../../../../styles/variables.scss';

:host {
  background-color: map-get($colors, 'background-secondary');
  color: map-get($colors, 'text-primary');
}

.row {
  display: flex;
  align-items: center;
}

.logo {
  padding: 20px 0;
  font-weight: bold;
}
