<div class="page">
  <div class="form">
    <div class="title mb-xl">
      Reset password
    </div>
    <div
      *ngIf="(showSuccessMessage$ | async); else form"
      class="success-message mb-md"
    >
        Your password has been resetted successfully. Now you can
      <button
        type="button"
        class="text-button text-button-inline mb-lg"
        (click)="loginHandler()"
      >
        log in
      </button>.
    </div>
    <ng-template #form>
      <app-form-reset-password
        [submitStatus]="resetPasswordStatus$ | async"
        [submitError]="resetPasswordError$ | async"
        (formSubmit)="submitHandler($event)"
      ></app-form-reset-password>
    </ng-template>
  </div>
</div>
