@use 'sass:math';
@import '/src/styles/variables.scss';

.row {
  @media (min-width: map-get($breakpoints, 'lg')) {
    display: flex;
    align-items: stretch;
    margin: math.div(-$layout-gap, 2);
  }
}

.col {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: map-get($breakpoints, 'lg')) {
    margin-bottom: 0;
    flex: 0 0 auto;
    padding: math.div($layout-gap, 2);

    &-sm {
      width: 25%;
    }

    &-lg {
      width: 75%;
    }
  }
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 16px;
}

.nav-trigger {
  text-align: left;
}

.wrapper {
  background: map-get($colors, 'background-secondary');
  border-radius: 12px;
  padding: 24px;
  height: 100%;
}
