<div class="page">
  <div class="container">
    <div class="row">
      <div class="col col-sm">
        <div class="wrapper">
          <div class="mb-xl">
            <app-user-details
              [user]="(user$ | async)!"
            ></app-user-details>
          </div>
          <nav class="nav">
            <ul class="nav-list">
              <li class="nav-item">
                <a
                  [routerLink]="editLink | routeLocalization"
                  class="nav-trigger button button-fullwidth button-transparent"
                >
                  <span class="material-icons button-symbol">
                    mode_edit
                  </span>
                  {{ 'view_profile.edit' | translateAsync }}
                </a>
              </li>
              <li class="nav-item">
                <a
                [routerLink]="changePasswordLink | routeLocalization"
                class="nav-trigger button button-fullwidth button-transparent"
              >
                  <span class="material-icons button-symbol">
                    key
                  </span>
                  {{ 'view_profile.change_password' | translateAsync }}
                </a>
              </li>
              <li class="nav-item">
                <button
                  type="button"
                  class="nav-trigger button button-fullwidth button-transparent"
                  (click)="logoutHandler()"
                >
                  <span class="material-icons button-symbol">
                    logout
                  </span>
                  {{ 'view_profile.logout' | translateAsync }}
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col col-lg">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
