<div class="comment">
  <div class="header">
    <div class="author">
      <div class="author-avatar">
        <app-avatar class="avatar" [src]="authorAvatarSrc"></app-avatar>
      </div>
      <div class="author-name">
        {{ authorName }}
      </div>
    </div>
    <div class="date">
      {{ createdAtFormatted }}
    </div>
  </div>
  <div class="content">
    {{ content }}
  </div>
  <div class="actions">
    <app-comment-like-button
      class="mr-auto"
      [comment]="comment"
    ></app-comment-like-button>
    <button
      *ngIf="allowEdit"
      type="button"
      class="button button-icon button-transparent"
      (click)="editHandler()"
    >
      <span class="material-icons">
        edit
      </span>
    </button>
    <button
      *ngIf="allowDelete"
      type="button"
      class="button button-icon button-transparent"
      (click)="deleteHandler()"
    >
      <span class="material-icons">
        delete_forever
      </span>
    </button>
  </div>
</div>
