<div class="header mb-md">
  <h1 class="title mb-none">
    {{ videoName }}
  </h1>
  <div class="actions">
    <ul class="actions-list">
      <li class="actions-item">
        <button
          class="button"
          [class.button-primary]="isSubscription"
          type="button"
          (click)="subscribeHandler()"
        >
          {{ subscribeLabel }}
        </button>
      </li>
      <li class="actions-item">
        <button
          type="button"
          class="button button-icon button-transparent"
          (click)="addToPlaylistHandler()"
        >
          <span class="material-icons">
            library_add
          </span>
        </button>
      </li>
      <li class="actions-item">
        <app-video-like-button [video]="video"></app-video-like-button>
      </li>
    </ul>
  </div>
</div>
<div
  *ngIf="author"
  class="author mb-xl"
>
  <app-user-block
    [user]="author"
  ></app-user-block>
</div>
<div class="description">
  {{ videoDescription }}
</div>
