<input
  class="input"
  #input
  type="file"
  multiple="false"
  [accept]="imageInputAcceptAttr"
  (change)="inputChangeHandler($event)"
/>
<div class="mb-lg">
  <img
    *ngIf="showImage$ | async"
    class="image"
    [src]="imageSrc$ | async"
  />
</div>
<div class="mg-lg">
  {{ fileSizeFormatted$ | async }}
</div>
<div
  *ngIf="showPlaceholder$ | async"
  class="placeholder mb-lg"
  (click)="uploadHandler()"
>
  Click to upload image
</div>
<div class="actions">
  <div class="actions-list">
    <div class="actions-item">
      <button
        type="button"
        class="button button-fullwidth action-trigger mr-md"
        (click)="uploadHandler()"
      >
        Upload
      </button>
    </div>
    <div class="actions-item">
      <button
        type="button"
        class="button button-fullwidth action-trigger mr-md"
        (click)="clearHandler()"
      >
        Delete
      </button>
    </div>
    <div class="actions-item">
      <button
        *ngIf="allowReset"
        type="button"
        class="button button-fullwidth action-trigger"
        (click)="resetHandler()"
      >
        Reset
      </button>
    </div>
  </div>
</div>
