<a [routerLink]="videoLink | routeLocalization" class="link">
  <div class="thumbnail-wrap">
    <app-thumbnail class="thumbnail" [src]="thumbnailSrc"></app-thumbnail>
  </div>
</a>
<div class="details">
  <a [routerLink]="authorLink | routeLocalization" class="details-avatar">
    <app-avatar class="avatar" [src]="authorAvatarSrc"></app-avatar>
  </a>
  <div class="details-text">
    <a [routerLink]="authorLink | routeLocalization" class="author">
      {{ authorName }}
    </a>
    <a class="name" [routerLink]="videoLink | routeLocalization">
      {{ videoName }}
    </a>
  </div>
</div>
<button
  *ngIf="showRemoveButton$ | async"
  type="button"
  class="button button-icon button-secondary remove-button"
  (click)="deleteHandler()"
>
  <span class="material-icons">
    clear
  </span>
</button>
