<app-modal-window>
  <app-modal-header (close)="close()">
    Forgot password
  </app-modal-header>
  <app-modal-body>
    <div class="mb-lg">
      <app-form-reset-password-request
        [submitStatus]="requestStatus$ | async"
        [submitError]="requestError$ | async"
        (formSubmit)="submitHandler($event)"
      ></app-form-reset-password-request>
    </div>
    <div
      *ngIf="showSuccessMessage$ | async"
      class="success-message mb-md"
    >
      Password reset link was sent to your email <strong>{{ email }}</strong>.
    </div>
    <button
      type="button"
      class="text-button"
      (click)="loginHandler()"
    >
      Log in
    </button>
  </app-modal-body>
</app-modal-window>
