<div class="page">
  <div class="container container-fluid mb-md">
    <a
      [routerLink]="['/', 'video', videoId]"
      class="text-button return-link"
    >
      <span class="material-icons">
        arrow_back
      </span>
      Return
    </a>
  </div>
  <div class="container container-narrow">
    <h1 class="mb-xl">
      {{ 'view_edit_video.title' | translateAsync:{ videoName: videoName$ | async } }}
    </h1>
    <app-form-video
      [video]="video$ | async"
      [submitStatus]="submitStatus$ | async"
      [submitError]="submitError$ | async"
      (formSubmit)="submitHandler($event)"
    >
      <button
        actions
        type="button"
        class="button"
        (click)="deleteHandler()"
      >
      {{ 'view_edit_video.delete' | translateAsync }}
      </button>
    </app-form-video>
  </div>
</div>
