@use 'sass:math';
@import '/src/styles/variables.scss';

.header {
  border-radius: 32px;
  padding: 16px;
  background: map-get($colors, 'background-secondary');

  @media (min-width: map-get($breakpoints, 'lg')) {
    display: flex;
    align-items: center;
  }
}

.user-info {
  margin-bottom: 32px;

  @media (min-width: map-get($breakpoints, 'lg')) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.subscribe-wrap {
  margin-bottom: 48px;

  @media (min-width: map-get($breakpoints, 'lg')) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.actions {
  $gap: 16px;

  &-list {
    list-style: none;
    margin: math.div(-$gap, 2);
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &-item {
    padding: math.div($gap, 2);
    flex: 0 0 50%;

    @media (min-width: map-get($breakpoints, 'lg')) {
      flex-basis: auto;
    }
  }

  &-trigger {
    min-width: 0;
    width: 100%;
  }
}
