<div class="page">
  <div class="container">
    <div class="header mb-xl">
      <div class="mr-auto">
        <app-user-info
          [user]="(userData$ | async)!"
        ></app-user-info>
      </div>
      <nav class="nav mr-md">
        <ul class="actions-list">
          <li class="actions-item">
            <a
              [routerLink]="videosLink"
              class="actions-trigger button button-transparent"
            >
              Videos
            </a>
          </li>
          <li class="actions-item">
            <a
              [routerLink]="playlistsLink"
              class="actions-trigger button button-transparent"
            >
              Playlists
            </a>
          </li>
        </ul>
      </nav>
      <ul class="actions-list">
        <app-user-subscribe-button [user]="(userData$ | async)!"></app-user-subscribe-button>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
