<div
  *ngIf="showPreviousPage"
  class="pagination mb-xl"
>
  <button
    type="button"
    class="button button-primary button-block load-more"
    (click)="prevPageHandler()"
  >
    {{ 'comment_list.load_prev' | translateAsync }}
  </button>
</div>
<div class="mb-xl">
  <ul class="list">
    <ng-container *ngIf="showSkeletonPrev">
      <li class="item" *ngFor="let skeleton of [0, 1]">
        <app-comment-item-skeleton></app-comment-item-skeleton>
      </li>
    </ng-container>
    <li class="item" *ngFor="let comment of comments; trackBy: trackBy">
      <app-comment-item [comment]="comment"></app-comment-item>
    </li>
    <ng-container *ngIf="showSkeletonNext">
      <li class="item" *ngFor="let skeleton of [0, 1]">
        <app-comment-item-skeleton></app-comment-item-skeleton>
      </li>
    </ng-container>
  </ul>
</div>
<div class="pagination">
  <button
    *ngIf="showNextPage"
    type="button"
    class="button button-primary button-block load-more"
    (click)="nextPageHandler()"
  >
    {{ 'comment_list.load_next' | translateAsync }}
  </button>
</div>
