<div class="pagination mb-xl">
  <button
    *ngIf="showPreviousPage"
    type="button"
    class="button button-block button-primary load-more"
    (click)="prevPageHandler()"
  >
    Load more
  </button>
</div>
<div class="mb-xl">
  <ul class="list">
    <li class="item" *ngFor="let comment of comments; trackBy: trackBy">
      <app-comment-item [comment]="comment"></app-comment-item>
    </li>
  </ul>
</div>
<div class="pagination">
  <button
    *ngIf="showNextPage"
    type="button"
    class="button button-block button-primary load-more"
    (click)="nextPageHandler()"
  >
    Load more
  </button>
</div>
