<form [formGroup]="form" (ngSubmit)="submitHandler()">
  <app-form-control
    class="mb-md"
    [selector]="'email'"
    [control]="form.get('email')"
    [serverError]="submitError"
  >
    <div label>
      {{ 'form_reset_password_request.email' | translateAsync }}
    </div>
    <input
      name="email"
      type="email"
      class="input-default"
      formControlName="email"
    />
  </app-form-control>
  <app-form-server-error
    class="mb-md"
    [error]="submitError"
  ></app-form-server-error>
  <button type="submit" class="button button-primary button-fullwidth mx-auto">
    {{ 'form_reset_password_request.submit' | translateAsync }}
    <div *ngIf="submitProcessing" class="button-loader">
      <span class="material-icons button-loader-icon">
        hourglass_bottom
      </span>
    </div>
  </button>
</form>
