@import './variables.scss';

html,
body {
  height: 100%;
}

body {
  background-color: map-get($colors, 'background-primary');
  color: map-get($colors, 'text-main');
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100%;
}

.container {
  max-width: $container-width + ($container-padding * 2);
  padding: 0 $container-padding;
  margin: 0 auto;
}

.container-narrow {
  max-width: $container-width-narrow + ($container-padding * 2);
}

.page {
  padding-top: 48px;
  padding-bottom: 128px;
}
