$base-colors: (
  'primary': #2effa8,
  'primary-reverse': #1e1e1e,
  'default': #89acc9,
  'default-reverse': #1e1e1e,
  'red': #ff1500,
  'red-pale': #f0674f,
  'success': #33d800,
);

$colors: (
  'background-primary': #1e1e1e,
  'background-secondary': #292929,
  'background-tertiary': #4f4f4f,
  'text-main': #efefef,
  'text-primary': map-get($base-colors, 'primary'),
  'text-secondary': #b7b7b7,
  'text-error': map-get($base-colors, 'red-pale'),
  'button-default': map-get($base-colors, 'default'),
  'button-default-text': map-get($base-colors, 'default-reverse'),
  'button-primary': map-get($base-colors, 'primary'),
  'button-primary-text': map-get($base-colors, 'primary-reverse'),
  'border-primary': #4b4b4b,
  'border-error': map-get($base-colors, 'red'),
  'border-success': map-get($base-colors, 'success'),
);

$container-width: 1200px;
$container-width-narrow: 800px;
$container-padding: 20px;

$breakpoints: (
  'xs': 420px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1200px,
  'xl': 1600px
);

$transition: 150ms;

$border-radius: 8px;

$layout-gap: 24px;
