$colors: (
  'background-primary': #e1e1e1,
  'background-secondary': #f0f0f0,
  'text-main': #1d1d1d,
  'text-primary': #333333,
  'text-secondary': #505050,
  'text-error': #ff1500,
  'button-default': #b2b2b2,
  'button-primary': #696969,
  'border-primary': #e1e1e1,
  'border-error': #ff1500,
  'border-success': #33d800,
  );

$container-width: 1200px;
$container-padding: 20px;

$breakpoints: (
  'xs': 420px,
  'sm': 768px,
  'md': 1024px,
  'lg': 1200px,
  'xl': 1600px
);

$transition: 150ms;

$border-radius: 8px;
