<div class="page">
  <div class="container container-fluid">
    <div
      *ngIf="showCreateLink$ | async"
      class="mb-xl"
    >
      <a
        class="button button-primary"
        [routerLink]="['/', 'video', 'create'] | routeLocalization"
      >
        <i class="material-icons button-symbol">
          video_call
        </i>
        {{ 'view_user_videos.create' | translateAsync }}
      </a>
    </div>
    <app-video-grid
      [videos]="(items$ | async)!"
      [pagination]="pagination$ | async"
      [processing]="(processing$ | async)!"
      (getPrevPage)="getPrevPageHandler()"
      (getNextPage)="getNextPageHandler()"
    ></app-video-grid>
    <app-placeholder
      *ngIf="showPlaceholder$ | async"
      [icon]="'theaters'"
      [text]="'view_user_videos.video_placeholder' | translateAsync"
    ></app-placeholder>
  </div>
</div>
