@import '/src/styles/variables.scss';

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.video-count {
  font-size: 14px;
  color: map-get($colors, 'text-secondary');

  &-value {
    font-weight: bold;
  }
}
