@import '/src/styles/variables.scss';

.link {
  display: block;
  padding: 16px;
  background: map-get($colors, 'background-secondary');
  border-radius: 12px;
  color: map-get($colors, 'text-primary');
  text-decoration: none;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  display: flex;
  align-items: center;

  &-avatar {
    margin-right: 10px;
  }

  &-name {
    font-size: 12px;
    color: map-get($colors, 'text-secondary');
  }
}

.name {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: none;
  color: map-get($colors, 'text-primary');
  margin-bottom: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}

.video-count {
  font-size: 14px;
  color: map-get($colors, 'text-secondary');

  &-value {
    font-weight: bold;
  }
}
