<a
  [routerLink]="playlistLink | routeLocalization"
  class="link"
>
  <div class="name">
    {{ playlistName }}
  </div>
  <div class="details">
    <div class="author">
      <div class="author-avatar">
        <app-avatar class="avatar" [src]="authorAvatarSrc"></app-avatar>
      </div>
      <div class="author-text">
        <div class="author-name">
          {{ authorName }}
        </div>
      </div>
    </div>
    <div class="video-count">
      {{ 'playlist_item.videos_count' | translateAsync }}
      <span class="video-count-value">
        {{ videoCount }}
      </span>
    </div>
  </div>
</a>
