<nav>
  <ul class="list">
    <li class="item">
      <a
        [routerLink]="['/']"
        class="link"
      >
        <span class="material-icons mr-lg">
          movie
        </span>
        Video
      </a>
    </li>
    <li class="item">
      <a
        [routerLink]="['/', 'playlists']"
        class="link"
      >
        <span class="material-icons mr-lg">
          subscriptions
        </span>
        Playlists
      </a>
    </li>
    <li class="item">
      <a
        [routerLink]="['/', 'users']"
        class="link"
      >
        <span class="material-icons mr-lg">
          group
        </span>
        Users
      </a>
    </li>
  </ul>
</nav>
