<nav>
  <ul class="list">
    <li class="item">
      <a
        [routerLink]="['/'] | routeLocalization"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="routerLinkActiveOptions"
        class="link"
        (click)="actionHandler()"
      >
        <span class="material-icons mr-lg">
          movie
        </span>
        {{ 'nav.link_video' | translateAsync }}
      </a>
    </li>
    <li class="item">
      <a
        [routerLink]="['/', 'news'] | routeLocalization"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="routerLinkActiveOptions"
        class="link"
        (click)="actionHandler()"
      >
        <span class="material-icons mr-lg">
          dynamic_feed
        </span>
        {{ 'nav.link_news' | translateAsync }}
      </a>
    </li>
    <li class="item">
      <a
        [routerLink]="['/', 'playlists'] | routeLocalization"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="routerLinkActiveOptions"
        class="link"
        (click)="actionHandler()"
      >
        <span class="material-icons mr-lg">
          subscriptions
        </span>
        {{ 'nav.link_playlists' | translateAsync }}
      </a>
    </li>
    <li class="item">
      <a
        [routerLink]="['/', 'users'] | routeLocalization"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="routerLinkActiveOptions"
        class="link"
        (click)="actionHandler()"
      >
        <span class="material-icons mr-lg">
          group
        </span>
        {{ 'nav.link_users' | translateAsync }}
      </a>
    </li>
    <ng-container *ngIf="showUserLists$ | async">
      <li class="divider"></li>
      <li class="item">
        <a
          [routerLink]="userPageLink$ | async | routeLocalization"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
          (click)="actionHandler()"
        >
          <span class="material-icons mr-lg">
            person
          </span>
          {{ 'nav.link_my_page' | translateAsync }}
        </a>
      </li>
      <li class="item">
        <a
          [routerLink]="userPlaylistsLink$ | async | routeLocalization"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
          (click)="actionHandler()"
        >
          <span class="material-icons mr-lg">
            subscriptions
          </span>
          {{ 'nav.link_my_playlists' | translateAsync }}
        </a>
      </li>
      <li class="item">
        <a
          [routerLink]="userSubscriptionsLink$ | async | routeLocalization"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
          (click)="actionHandler()"
        >
          <span class="material-icons mr-lg">
            list_alt
          </span>
          {{ 'nav.link_subscriptions' | translateAsync }}
        </a>
      </li>
      <li class="item">
        <a
          [routerLink]="userSubscribersLink$ | async | routeLocalization"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
          (click)="actionHandler()"
        >
          <span class="material-icons mr-lg">
            people
          </span>
          {{ 'nav.link_subscribers' | translateAsync }}
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
