<nav>
  <ul class="list">
    <li class="item">
      <a
        [routerLink]="['/']"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="routerLinkActiveOptions"
        class="link"
      >
        <span class="material-icons mr-lg">
          movie
        </span>
        Video
      </a>
    </li>
    <li class="item">
      <a
        [routerLink]="['/', 'playlists']"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="routerLinkActiveOptions"
        class="link"
      >
        <span class="material-icons mr-lg">
          subscriptions
        </span>
        Playlists
      </a>
    </li>
    <li class="item">
      <a
        [routerLink]="['/', 'users']"
        routerLinkActive="link-active"
        [routerLinkActiveOptions]="routerLinkActiveOptions"
        class="link"
      >
        <span class="material-icons mr-lg">
          group
        </span>
        Users
      </a>
    </li>
    <ng-container *ngIf="showUserLists$ | async">
      <li class="divider"></li>
      <li class="item">
        <a
          [routerLink]="userPageLink$ | async"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
        >
          <span class="material-icons mr-lg">
            person
          </span>
          My page
        </a>
      </li>
      <li class="item">
        <a
          [routerLink]="userVideoLink$ | async"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
        >
          <span class="material-icons mr-lg">
            movie
          </span>
          My video
        </a>
      </li>
      <li class="item">
        <a
          [routerLink]="userPlaylistsLink$ | async"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
        >
          <span class="material-icons mr-lg">
            subscriptions
          </span>
          My playlists
        </a>
      </li>
      <li class="item">
        <a
          [routerLink]="userSubscriptionsLink$ | async"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
        >
          <span class="material-icons mr-lg">
            list_alt
          </span>
          Subscriptions
        </a>
      </li>
      <li class="item">
        <a
          [routerLink]="userSubscribersLink$ | async"
          routerLinkActive="link-active"
          [routerLinkActiveOptions]="routerLinkActiveOptions"
          class="link"
        >
          <span class="material-icons mr-lg">
            people
          </span>
          Subscribers
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
