<div class="page">
  <div class="container container-fluid">
    <div
      *ngIf="showCreateLink$ | async"
      class="mb-xl"
    >
      <a
        class="button button-primary"
        [routerLink]="['/', 'playlists', 'create'] | routeLocalization"
      >
        <i class="material-icons button-symbol">
          format_list_bulleted_add
        </i>
        {{ 'view_user_playlists.title' | translateAsync }}
      </a>
    </div>
    <app-playlist-list
      [playlists]="(items$ | async)!"
      [pagination]="pagination$ | async"
      [processing]="(processing$ | async)!"
      (getPrevPage)="getPrevPageHandler()"
      (getNextPage)="getNextPageHandler()"
    ></app-playlist-list>
    <app-placeholder
      *ngIf="showPlaceholder$ | async"
      [icon]="'subscriptions'"
      [text]="'view_user_playlists.placeholder' | translateAsync"
    ></app-placeholder>
  </div>
</div>
