<div class="page">
  <div class="container container-fluid">
    <div
      *ngIf="showCreateLink$ | async"
      class="mb-xl"
    >
      <a
        class="button button-primary"
        [routerLink]="['/', 'playlists', 'create']"
      >
        <i class="material-icons button-symbol">
          format_list_bulleted_add
        </i>
        Create playlist
      </a>
    </div>
    <app-playlist-list
      [playlists]="(items$ | async)!"
      [pagination]="pagination$ | async"
      (getPrevPage)="getPrevPageHandler()"
      (getNextPage)="getNextPageHandler()"
    ></app-playlist-list>
    <app-placeholder
      *ngIf="showPlaceholder$ | async"
      [icon]="'subscriptions'"
      [text]="'This user has no playlists yet'"
    ></app-placeholder>
  </div>
</div>
