<input
  class="input"
  #input
  type="file"
  multiple="false"
  [accept]="videoInputAcceptAttr"
  (change)="inputChangeHandler($event)"
/>
<div class="mb-lg">
  <video
    *ngIf="showVideo$ | async"
    [src]="videoSrc$ | async"
    controls
    class="video"
  ></video>
</div>
<div
  *ngIf="showPlaceholder$ | async"
  class="placeholder mb-lg"
  (click)="uploadHandler()"
>
  Click to upload video
</div>
<div class="actions">
  <div class="actions-list">
    <div class="actions-item">
      <button
        type="button"
        class="button button-fullwidth action-trigger mr-md"
        (click)="uploadHandler()"
      >
        Upload
      </button>
    </div>
    <div class="actions-item">
      <button
        type="button"
        class="button button-fullwidth action-trigger mr-md"
        (click)="clearHandler()"
      >
        Delete
      </button>
    </div>
    <div class="actions-item">
      <button
        *ngIf="allowReset"
        type="button"
        class="button button-fullwidth action-trigger"
        (click)="resetHandler()"
      >
        Reset
      </button>
    </div>
  </div>
</div>
