<div class="page">
  <div class="container">
    <div class="details mb-xl">
      <app-playlist-details
        [playlist]="(playlist$ | async)!"
      ></app-playlist-details>
    </div>
    <div
      *ngIf="userIsAuthor$ | async"
      class="actions"
    >
      <a
        [routerLink]="['/', 'playlists', playlistId, 'edit']"
        class="button mr-md"
      >
        Edit
      </a>
      <button
        type="button"
        class="button"
        (click)="deleteHandler()"
      >
        Delete
      </button>
    </div>
    <app-video-grid
      [videos]="(items$ | async)!"
      [pagination]="pagination$ | async"
      (getPrevPage)="getPrevPageHandler()"
      (getNextPage)="getNextPageHandler()"
    ></app-video-grid>
  </div>
</div>
