@import '/src/styles/variables.scss';

.details {
  background: map-get($colors, 'background-secondary');
  padding: 24px;
  border-radius: 12px;
}

.actions {
  @media (min-width: map-get($breakpoints, 'sm')) {
    display: flex;
  }
}

.action-trigger {
  width: 100%;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: map-get($breakpoints, 'sm')) {
    width: auto;
    margin-bottom: 0;
  }
}
