@import '/src/styles/variables.scss';

.row {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
}

.sidebar {
  width: 300px;
  flex: 0 0 auto;
  background-color: map-get($colors, 'background-secondary');
}

.content {
  flex: 1 1 0;
}
