@import '/src/styles/variables.scss';

.row {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
}

.header {
  border-bottom: 1px solid map-get($colors, 'border-primary');
}

.sidebar {
  width: 300px;
  flex: 0 0 auto;
  background-color: map-get($colors, 'background-secondary');
  border-right: 1px solid map-get($colors, 'border-primary');
}

.content {
  flex: 1 1 0;
}
