<div class="page">
  <div class="container container-fluid">
    <h1 *ngIf="showTitle$ | async">
      {{ title$ | async }}
    </h1>
    <app-user-list
      [users]="(items$ | async)!"
      [pagination]="pagination$ | async"
      [processing]="(processing$ | async)!"
      (getPrevPage)="getPrevPageHandler()"
      (getNextPage)="getNextPageHandler()"
    ></app-user-list>
    <app-placeholder
      *ngIf="showPlaceholder$ | async"
      [icon]="'people'"
      [text]="'view_users.placeholder' | translateAsync"
    ></app-placeholder>
  </div>
</div>
