<div
  *ngIf="showPreviousPage"
  class="pagination mb-xl"
>
  <button
    type="button"
    class="button button-block button-primary load-more"
    (click)="prevPageHandler()"
  >
    Load more
  </button>
</div>
<div class="mb-xl">
  <ul class="list">
    <li class="item" *ngFor="let playlist of playlists">
      <app-playlist-item
        [playlist]="playlist"
      ></app-playlist-item>
    </li>
  </ul>
</div>
<div class="pagination">
  <button
    *ngIf="showNextPage"
    type="button"
    class="button button-block button-primary load-more"
    (click)="nextPageHandler()"
  >
    Load more
  </button>
</div>
