<app-modal-window>
  <app-modal-header (close)="close()">
    {{ 'view_login.title' | translateAsync }}
  </app-modal-header>
  <app-modal-body>
    <button
      type="button"
      class="text-button mb-lg"
      (click)="registrationHandler()"
    >
    {{ 'view_login.registration' | translateAsync }}
    </button>
    <div class="mb-lg">
      <app-form-login
        [submitStatus]="loginStatus$ | async"
        [submitError]="loginError$ | async"
        (formSubmit)="submitHandler($event)"
      ></app-form-login>
    </div>
    <button
      type="button"
      class="text-button"
      (click)="resetPasswordRequestHandler()"
    >
    {{ 'view_login.reset_password' | translateAsync }}
    </button>
  </app-modal-body>
</app-modal-window>
