@import '../../../../styles/variables.scss';

:host {
  background-color: map-get($colors, 'background-secondary');
  color: map-get($colors, 'text-primary');
  border-bottom: 1px solid map-get($colors, 'text-primary');
}

.logo {
  padding: 20px 0;
  font-weight: bold;
}
