<div class="page">
  <div class="container container-fluid">
    <div class="mb-xl">
      <a
        class="button button-primary"
        [routerLink]="['/', 'playlists', 'create'] | routeLocalization"
      >
        Create playlist
      </a>
    </div>
    <app-playlist-list
      [playlists]="(items$ | async)!"
      [pagination]="pagination$ | async"
      [processing]="(processing$ | async)!"
      (getPrevPage)="getPrevPageHandler()"
      (getNextPage)="getNextPageHandler()"
    ></app-playlist-list>
    <app-placeholder
      *ngIf="showPlaceholder$ | async"
      [icon]="'subscriptions'"
      [text]="'No playlists found'"
    ></app-placeholder>
  </div>
</div>
