<app-modal-window>
  <app-modal-header (close)="close()">
    {{ 'view_registration.title' | translateAsync }}
  </app-modal-header>
  <app-modal-body>
    <button
      type="button"
      class="text-button mb-lg"
      (click)="loginHandler()"
    >
      {{ 'view_registration.login' | translateAsync }}
    </button>
    <app-form-registration
      [submitStatus]="registrationStatus$ | async"
      [submitError]="registrationError$ | async"
      (formSubmit)="submitHandler($event)"
    ></app-form-registration>
  </app-modal-body>
</app-modal-window>
