<div class="container container-fluid">
  <div class="row">
    <div class="left">
      <p>
        Source code: <a class="link" href="https://github.com/ArtemGrachov/video-client">frontend</a>, <a class="link" href="https://github.com/ArtemGrachov/video-server">backend</a>
      </p>
      <p>
        Created for educational purposes
      </p>
    </div>
    <div class="right">
      <p>
        Developed by <a class="link" href="https://github.com/ArtemGrachov" target="_blank">Artem Grachov</a>
      </p>
      <p>
        Ukraine, 2023
      </p>
    </div>
  </div>
</div>
