<div class="container container-fluid">
  <div class="row">
    <div class="left">
      <p>
        {{ 'footer.source_code' | translateAsync }}
        <a class="link" href="https://github.com/ArtemGrachov/video-client" target="_blank">frontend</a>,
        <a class="link" href="https://github.com/ArtemGrachov/video-server" target="_blank">backend</a>
      </p>
      <p>
        {{ 'footer.purpose' | translateAsync }}
      </p>
    </div>
    <div class="right">
      <p>
        {{ 'footer.developed_by' | translateAsync }}
        <a class="link" href="https://github.com/ArtemGrachov" target="_blank">https://github.com/ArtemGrachov</a>
      </p>
      <p>
        {{ 'footer.location_year' | translateAsync }}
      </p>
    </div>
  </div>
</div>
