@import '/src/styles/variables.scss';

:host {
  background-color: map-get($colors, 'background-secondary');
  border-top: 1px solid map-get($colors, 'border-primary');
  padding: 32px 0;
}

.row {
  font-size: 14px;
  color: map-get($colors, 'text-secondary');
  text-align: center;

  @media (min-width: map-get($breakpoints, 'sm')) {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.left {
  margin-bottom: 32px;

  @media (min-width: map-get($breakpoints, 'sm')) {
    margin-bottom: 0;
  }
}

.right {
  @media (min-width: map-get($breakpoints, 'sm')) {
    text-align: right;
  }
}

.link {
  color: map-get($colors, 'text-primary');
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 0 0 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
