@use 'sass:math';
@import '../../../../../../styles/variables.scss';

.header {
  display: flex;
  align-items: center;
}

.title {
  min-width: 0;
  font-weight: 500;
  margin-right: auto;
}

.description {
  background: map-get($colors, 'background-secondary');
  padding: 24px;
  border-radius: 50px;
}

.actions {
  $gap: 16px;

  &-list {
    display: flex;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: math.div(-$gap, 2);
  }

  &-item {
    padding: math.div($gap, 2);
  }
}
